aws-cdk.core>=1.133.0
aws-cdk.assertions>=1.133.0
aws-cdk.aws_ec2>=1.133.0
aws-cdk.aws_stepfunctions>=1.133.0
aws-cdk.aws_stepfunctions_tasks>=1.133.0
aws-cdk.aws_iam>=1.133.0
aws-cdk.aws_s3>=1.133.0
aws-cdk.aws_s3_deployment>=1.133.0
aws-cdk.aws_sagemaker>=1.133.0
aws-cdk.aws_codecommit>=1.133.0